.UprDiv{
    height: 65%;
    width: 100%;
    padding-top: 10px;
    display: flex;
    font-size: 17px;
    /* border: 1px solid black; */
}
.usrLogo{
    width: 30%;
    height: 100%;
    /* border: 1px solid black; */
    font-size: 70px;
    color: rgb(184, 174, 174);
}
.usDetails{
    width: 70%;
    height: 100%;
    /* border: 1px solid black; */
}
.bx1{
    text-align: left;
    width: 100%;
    height: 60%;
    /* border: 1px solid black; */
}
.bx1>p{
    margin-top: 2%;
}
.bx2{
    display:flex;
    font-size: 16px;
}
.bx2>p{
    margin-top: 3px;
}
.LwrDiv>div{
    margin-top: 5px;
    margin-left: 10px;
    height: 30px;
    width: 30%;
    border: 1px solid rgb(184, 174, 174);
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
}
.LwrDiv>div>p{
    margin-top: 7px;
}